In [75]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [76]:
data=pd.read_csv("Data.csv")

In [77]:
data.fillna(data.mean(), inplace=True) # fill the null value with mean

In [78]:
data.head(100)

,Taxi_dist,Market_dist,Hospital_dist,Carpet_area,Builtup_area,Parking_type,City_type,Rainfall,Price_house
0,9796.0,5250.0,10703.0,1659.0,1961.000000,Open,CAT B,530,6649000
1,8294.0,8186.0,12694.0,1461.0,1752.000000,Not Provided,CAT B,210,3982000
2,11001.0,14399.0,16991.0,1340.0,1609.000000,Not Provided,CAT A,720,5401000
3,8301.0,11188.0,12289.0,1451.0,1748.000000,Covered,CAT B,620,5373000
4,10510.0,12629.0,13921.0,1770.0,2111.000000,Not Provided,CAT B,450,4662000
...,...,...,...,...,...,...,...,...,...
95,6541.0,7537.0,11474.0,1694.0,1794.924755,Covered,CAT B,560,4830000
96,2222.0,10106.0,8858.0,1479.0,1758.000000,Covered,CAT C,420,4206000
97,6194.0,8473.0,11978.0,1590.0,1912.000000,Open,CAT B,830,6535000
98,7025.0,10344.0,11682.0,2169.0,2617.000000,Open,CAT B,600,6708000
99,9233.0,12290.0,14032.0,1838.0,2205.000000,Covered,CAT B,400,5403000

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
X=data.iloc[:,:5]
y=data.iloc[:,8]

In [81]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5)

In [82]:
model=LinearRegression()

In [83]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [84]:
y_pre=model.predict(X_train)

In [85]:
y_pre2=model.predict(X_test)

In [88]:
df_col=np.concatenate((y_pre,y_pre2),axis=0)

In [89]:
data['predection']=df_col

In [96]:
data=data.round(3)

In [98]:
data.head()

,Taxi_dist,Market_dist,Hospital_dist,Carpet_area,Builtup_area,Parking_type,City_type,Rainfall,Price_house,predection
0,9796.0,5250.0,10703.0,1659.0,1961.0,Open,CAT B,530,6649000,6510388.718
1,8294.0,8186.0,12694.0,1461.0,1752.0,Not Provided,CAT B,210,3982000,5915072.405
2,11001.0,14399.0,16991.0,1340.0,1609.0,Not Provided,CAT A,720,5401000,5583958.789
3,8301.0,11188.0,12289.0,1451.0,1748.0,Covered,CAT B,620,5373000,6258193.652
4,10510.0,12629.0,13921.0,1770.0,2111.0,Not Provided,CAT B,450,4662000,6167493.883